.header {
  color: #2e2f42;
}
.header-logo {
  color: #2e2f42;
}
.header-nav {
  font-weight: 500;
}
.header-address {
  font-style: normal;
  color: #434455;
}
.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus,
.header-address-list-item-link:hover,
.header-address-list-item-link:focus {
  color: #404bbf;
}
